<div class="row">    
  <div class="col-xs-12 col-sm-12 col-md-10">
    <div class="table-responsive-lg">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Date register</th>
            <th scope="col">Categoty</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody *ngIf="products">
          <tr *ngFor="let item of products" [ngClass]="{'table-success text-success': item?.id==lastSaved}">
            <td>{{item?.name}}</td>
            <td>{{item?.price | currency:'BRL':'symbol':'0.1-2'}}</td>
            <td>{{item?.dateRegister}}</td>
            <td>{{item?.category?.name}}</td>
            <td>
              <button class="btn btn-outline-dark btn-sm" style="margin:2px" (click)="update(item)"><i class="fas fa-edit"></i></button>
              <button class="btn btn-outline-danger btn-sm" style="margin:2px" (click)="delete(item)"><i class="fas fa-trash-alt"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
      <p class="small" *ngIf="products == null || !products?.length">no product found</p>

    </div>      
  </div>
</div>
