<div class="row">    
  <div class="col-xs-12 col-sm-12 col-md-10">
    <form [formGroup]="form">
      <div class="row">
        <div class="col-2">
          <div class="form-group">
            <label>Cod:</label>
            <input type="text" formControlName="id" name="id" class="form-control" readonly>
          </div>
        </div>
        <div class="col-10">
          <div class="form-group">
            <label>Name:</label>
            <input type="text" formControlName="name" name="name" class="form-control" [required]>
          </div>
        </div>          
      </div>
      <div class="row">          
        <div class="col-6">
          <div class="form-group">
            <label>Price:</label>
            <input type="text" placeholder="R$ 0,00" formControlName="price" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"  name="price" class="form-control" [required]>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label>Categoy:</label>
            <select type="text" name="categoryId" formControlName="categoryId" class="form-control">    
              <option value="">Select</option>            
              <option *ngFor="let categories of categories" [value]="categories?.id">{{categories?.name}}</option>
            </select>
          </div> 
        </div>    
      </div>   
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <input type="submit" class="btn btn-primary" (click)="saveOrUpdate()" value="save">
          </div>
        </div>            
      </div>
    </form>
  </div>
</div>